body {
	background:url(bg.jpg);
	}
ul li {
	list-style:none; 
	float:left; 
	position:relative; 
	}
ul li a img {
	border:0;
	padding:10px 10px 9px 10px; 
	background:#ffffff; 
	margin-bottom:20px;
	margin-left:24px;
	}

ul li span {
	background:url(scripts/fancybox/source/magnify.png); 
	width:27px; 
	height:26px; 
	position:absolute; 
	left:245px; 
	top:-3px;
	z-index: 100; 
	}
ul li img {
	box-shadow: 0 0 7px #807a72; 
	-moz-box-shadow: 0 0 7px #807a72; 
	-webkit-box-shadow: 0 0 7px #807a72;
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
}